html, body, main {
  height: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #ddd;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
p, h1 {
  text-align: center;
}
.normal-weight {
  font-weight: normal;
}
